@import './../../styles/utilities';

.list__item {
  align-items: center;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: px-to-rem(100);
  min-width: px-to-rem(250);
  padding: px-to-rem(10);

  &__header {
    font-size: px-to-rem(20);
    font-weight: bold;
    text-align: center;
  }

  &__content {
    font-size: px-to-rem(16);
    word-wrap: break-word;
  }

  @media only screen and (max-width: 750px) {
    min-width: px-to-rem(200);
  }

  @media only screen and (max-width: 405px) {
    min-width: px-to-rem(140);
  }
}